@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

Button{
    align-items: right;
    display:block;
    align-content: right;
}

AppBar{
    position:static;
    
}